*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
}
form{
    border: 1px solid black;
    max-width: 400px;
    width: 10%;
    min-width: 250px;
    margin: 10vh;
    padding: 2%;
    border-radius: 1.5%;
}

input, button{
    margin-bottom: 5%;
}

.text-input{
    width: 95%;
    padding: 2%;
}

text-area{
    width: 99%;
}